body{
    background-image:url('Images/bg.png')
}

.contact{
    position:relative;
    min-height:100vh;
    padding:50px 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-size:cover;
}

.contact .content{
    text-align:center;
    color:white;
    animation: slideInFromTop 1s ease-out;
}


#contactdiv{
    position:relative;
}

.contacttitle{
    color:black;
}
.contacttext{
    color:#f8f9fa;
}

#contactcontainer{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.cbox{
    position:relative;
    padding:20px 0;
    display:flex;
}

.cicon{
    min-width:60px;
    height:60px;
    display:flex;
    background-color: white;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    font-size:22px;
}

.container .contactInfo{
    width:50%;
    display:flex;
    flex-direction:column;
    animation: slideInFromLeft 1s ease-out;


}

.ctext{
    display:flex;
    font-size:16px;
    margin-left:20px;
    flex-direction:column;
}

.contactForm{
    width:40%;
    padding:40px;
    background:white;
    animation: slideInFromRight 1s ease-out;
}

.contactForm .inputBox{
    position:relative;
    width:100%;
    margin-top:10px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea{
    width:100%;
    padding:5px 0;
    font-size:16px;
    margin:10px 0;
    border:none;
    border-bottom: 2px solid;
    outline:none;
    resize: none;
}

.contactForm .inputBox span{
    position:absolute;
    left:0;
    padding:5px 0 0 2px;
    font-size:16px;
    margin:10px 0;
    pointer-events:none;
    transition:0.5s;
    
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span{
    font-size:12px;
    transform: translateY(-24px);
}

#submitbutton{
    width:100px;
    border:none;
    cursor:pointer;
    padding:10px;
    background-color:#b3161d;
    color:white;
}


@media(max-width:991px){
    .contact{
        padding:50px;
    }

    #contactcontainer{
        flex-direction:column;
    }

    #contactcontainer .contactInfo{
        margin-bottom:40px;
        width:100%;
    }

    .contactForm{
        width:100%;
    }

    
}

@media(min-width:1400px){
    .fillerspace{
        margin-top:90px;
    }
}
